#lm-container {
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

#lm-description {
  font-size: 1.25rem;
  width: 10rem;
}

#lm-mode-selection {
  margin-left: 1rem;
}

#lm-toolbox-selection {
  margin-left: 1rem;
}

#lm-animation-speed {
  margin-left: 1rem;
  padding-right: 1rem;
}

.toglbtn {
  position: relative;
  color: white !important;
  background: #333333;
  border: 1px solid #464646 !important;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0;
  padding: 0;
}

.disabled-toggle-btn {
  opacity: 0.5;
  background-color: #2D2D2D !important;
}

#toggle-btn-fab {
  color: white;
  padding: 11px !important;
  margin-bottom: 1px;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: #393939;
  border: 1px solid #464646 !important;
}

#lm-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lm-move {
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lm-move-cluster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  padding-right: 1rem;
  overflow: hidden;
}

#lm-options-cluster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lm-editing-btn {
  position: relative;
  color: white !important;
  background: #333333;
  border: 1px solid #464646 !important;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0;
  padding: 0;
}

.lm-editing {
  background: #0050ff !important;
  background: linear-gradient(65deg, rgba(0, 80, 255, 0.8) 0%, rgba(0, 179, 215, 0.8) 100%) !important;
  -webkit-animation: editingFlash 2s infinite;
          animation: editingFlash 2s infinite;
}

@-webkit-keyframes editingFlash {
  0% {
    opacity: 1;
  }
  47.5% {
    opacity: 0.5;
  }
  52.5% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes editingFlash {
  0% {
    opacity: 1;
  }
  47.5% {
    opacity: 0.5;
  }
  52.5% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#live-stats-view {
  height: calc(100% - 5px);
  width: 10rem;
  background-color: #333333;
  border: 2px solid #464646;
  overflow: hidden;
  border-radius: 9px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#lm-live-stat-indicator {
  padding: 10px;
  height: 10px !important;
  width: 10px !important;
  color: #64ea4f;
  position: absolute;
  bottom: 0;
  right: 0;
}

#lm-live-agent-view {
  width: 4rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.75rem;
}

#lm-live-agent-view img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#lm-live-number-stats {
  height: 100%;
  width: 100%;
  padding-top: 0.2rem;
  padding-left: 1rem;
  position: relative;
  font-size: 0.75rem;
}
/*# sourceMappingURL=labyrinth-menu-style.css.map */