#gd-container {
  height: calc(100vh - 100px);
  position: relative;
  width: 100%;
  background-color: #2d2d2d;
  border-bottom: 2px solid #464646;
  border-radius: 7.5px;
}

#gd-display-area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 7.5px;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gd-display-area::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=grid-display-style.css.map */