#gd-container {
    height: calc(100vh - 100px);
    position: relative;
    width: 100%;
    background-color: #2d2d2d;
    border-bottom: 2px solid #464646;
    border-radius: 7.5px;
}

#gd-display-area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7.5px;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gd-display-area::-webkit-scrollbar {
    display: none;
}
