.app {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.25rem;
    padding-bottom: 1.4rem;
}

#vert-splitter {
    /* WINDOW BORDERS */
    margin-top: clamp(3rem, 2.5vw, 2.5vw);
    height: calc(100% - clamp(3.25rem, 2.85vw, 2.85vw));
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.75vw;
    margin-left: 0.75vw;
    margin-bottom: 0.75vw;
}

#top-splitter {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100vw - 320px);
    /*width: 67.5%;*/
    height: 100%;
    
    background-color: #393939;
    border: 2px solid #464646;
    border-radius: 7.5px;
}

.subtitle {
    font-size: 1rem;
    font-weight: bold;
}
