#sm-container {
    height: 100%;
    background-color: #2d2d2d;
    border-radius: 7.5px;
    border: 2px solid #464646;
    width: 275px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

#sm-container::-webkit-scrollbar {
    display: none;
}

#sm-title {
    width: 235px;
    margin-top: 2rem;
    text-align: center;

    h2 {
        font-size: 2rem;
        margin: 0;
    }
}

#sm-maps,
#sm-map-generator {
    width: 235px;
    margin-top: 1rem;
}

#sm-accordion-transparent {
    background: transparent !important;
    color: white;
    box-shadow: none !important;
}

#sm-accordion-underline {
    margin: 0 !important;
    min-height: 1rem !important;
    border-bottom: 1px solid grey;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    * {
        margin: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

#sm-accordion-details {
    padding: 0.25rem;
    display: flex;
    flex-flow: column nowrap;
}

#sm-map-card {
    margin-top: 0.5rem;
    margin-bottom: 0.65rem;
    height: 6.5rem;
    width: 100%;
    border-radius: 10px;
    background-color: #393939;
    overflow: hidden;
    z-index: 1;

    #sm-card-content {
        position: relative;
        height: 100%;
    }

    h2 {
        position: absolute;
        margin: 0;
        padding: 0;
        padding-left: 1rem;
        padding-top: 1.25rem;
        font-size: 1.35rem;
        font-weight: normal;
        max-width: 180px;
        width: 100%;
        max-height: 80px;
        height: 100%;
        word-break: break-all;
        overflow: hidden;
        line-height: 0.95;
        z-index: -1;
    }
}

#sm-map-set-btn {
    width: 4.5rem !important;
    height: 2rem;
    z-index: 2;
    font-size: 0.75rem !important;
    background-color: #2d2d2d;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    color: white;
    * {
        font-size: 1rem !important;
    }
}

#sm-generate-btn {
    margin-top: 0.5rem;
    background-color: #595959;
    color: white;
}

#sm-cover-shape {
    position: absolute;
    right: -8rem;
    top: -5rem;
    height: 10rem;
    width: 25rem;
    transform: rotate(45deg);
    background-color: #696969;
    z-index: -1;
}

#sm-maze-bg {
    position: absolute;
    left: -50px;
    top: 20px;
    z-index: -1;
    height: 150px;
    width: 150px;
    background: url('../../images/maze-pattern.svg');
    background-position: center center;
    background-size: cover;
    opacity: 0.15;
    transform: rotate(45deg);
}

#sm-menu-btn {
    margin-top: 0.5rem;
    background-color: #595959;
    color: white;
    width: 235px;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.MuiPaper-root {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    overflow: hidden !important;
}

#sm-agent-popup {
    width: 16.5rem;
    height: 23.5rem;
    background-color: #393939;
    border: 1px solid #454545;
    user-select: none;
    border-radius: 10px !important;
    
    h1 {
        z-index: 20;
        width: 80%;
        line-height: 0.8;
        color: white;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        padding: 0;
        margin: 0;
        margin-top: 1rem;
        text-align: center;
        font-size: 1.75rem;
        font-weight: bold;
        font-style: italic;
    }
}

#sm-agent-select-btn {
    position: absolute;
    width: 100%;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    bottom: 0;
    background-color: #0060ff;
    color: white;
    font-weight: bold;
}

#trans-fab-btn {
    background-color: transparent;
    position: absolute;
    box-shadow: none;
    border-radius: 10px;
    padding: 0 !important;
    margin: 0;
    width: 3rem;
    color: white;

    * {
        font-size: 3rem;
    }
}

#sm-agent-slider {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 20rem;

    background-color: #353535;
    height: 15.5rem;
    width: 15.5rem;
    border-radius: 100%;

    .sm-left-fab {
        left: 0;
    }

    .sm-right-fab {
        right: 0;
    }

    h2 {
        position: absolute;
        bottom: -1rem;
        color: white;
    }
}

#sm-agent-area {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sm-agent-preview {
    height: 10rem;
    width: 10rem;
    
    img {
        width: 10rem;
        height: 10rem;
    }
}