:root {
  --grid-item: 25px;
}

#mz-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  color: white;
}

#mz-table-container {
  max-height: 100%;
  max-width: 100%;
  overflow: scroll !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#mz-table-container::-webkit-scrollbar {
  display: none;
}

.mz-table {
  position: relative;
  font-size: 1.5rem;
  border-radius: 5px;
  overflow: hidden !important;
}

#mz-move-cluster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 5rem;
}

#mz-options-cluster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

#mz-controls {
  position: fixed;
  top: 0;
}

td {
  min-height: var(--grid-item);
  height: var(--grid-item);
  max-height: var(--grid-item);
  min-width: var(--grid-item);
  max-width: var(--grid-item);
  padding: 0;
  margin: 0;
}

.maze-column {
  position: relative;
  overflow: hidden;
}

.maze-column .maze-wall {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #a6a6a6;
}

.maze-column .maze-start {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #0050ff;
  border-radius: 50px;
}

.maze-column .maze-end {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #64ea4f;
  border-radius: 50px;
}

.maze-column .maze-player {
  margin: 0;
  padding: 0;
  width: var(--grid-item);
  height: var(--grid-item);
}

.maze-column * {
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

#character-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--grid-item);
  height: var(--grid-item);
  /*
    img {
        transition: transform 0.15s ease;
    }
    */
}

#mz-agent-image {
  height: 25px;
  width: 25px;
}

#player-head {
  width: var(--grid-item);
  height: var(--grid-item);
}

.maze-row {
  padding: var(--grid-item);
}

#mz-move-top, #mz-move-bottom {
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#indicator-letter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: bold;
}
/*# sourceMappingURL=maze-style.css.map */