:root {
    --grid-item: 25px;
}

#mz-container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    color: white;
}

#mz-table-container {
    max-height: 100%;
    max-width: 100%;
    overflow: scroll !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mz-table-container::-webkit-scrollbar {
    display: none;
}

.mz-table {
    position: relative;
    font-size: 1.5rem;
    border-radius: 5px;
    overflow: hidden !important;
}

#mz-move-cluster {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: 5rem;
}

#mz-options-cluster {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

#mz-controls {
    position: fixed;
    top: 0;
}

td {
    min-height: var(--grid-item);
    height: var(--grid-item);
    max-height: var(--grid-item);
    min-width: var(--grid-item);
    max-width: var(--grid-item);
    padding: 0;
    margin: 0;
}

.maze-column {
    position: relative;
    overflow: hidden;

    .maze-wall {
        height: 100%;
        width: 100%;
        position: relative;
        background-color: #a6a6a6;
    }

    .maze-start {
        height: 100%;
        width: 100%;
        position: relative;
        background-color: #0050ff;
        border-radius: 50px;
    }

    .maze-end {
        height: 100%;
        width: 100%;
        position: relative;
        background-color: #64ea4f;
        border-radius: 50px;
    }

    .maze-player {
        margin: 0;
        padding: 0;
        width: var(--grid-item);
        height: var(--grid-item);
    }

    * {
        transition: transform 0.25s ease;
    }
}

#character-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--grid-item);
    height: var(--grid-item);
    /*
    img {
        transition: transform 0.15s ease;
    }
    */
}

#mz-agent-image {
    height: 25px;
    width: 25px;
}

#player-head {
    width: var(--grid-item);
    height: var(--grid-item);
}

.maze-row {
    padding: var(--grid-item);
}

#mz-move-top, #mz-move-bottom{
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#indicator-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: bold;
}
